{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-react"
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-env", { "targets": { "browsers": ["last 2 versions", "> 1%"] } }],
        "@babel/preset-react"
      ]
    }
  }
}
